body {
  padding-top: 50px;
}

.welcome {
  font: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, cursive;
  text-shadow: black;
}

.first-welcome-text {
  font: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, cursive;
  text-shadow: black;
  text-align: center;
  padding-top: 40px;
  font-size: 20px;
}

#kc {
  text-decoration: none;
  color: red;
}

#ug {
  text-decoration: none;
  color: blue;
}

#enterprise {
  text-decoration: none;
  color: green;
}

#pekao {
  text-decoration: none;
  color: black;
}

#udemy {
  text-decoration: none;
  color: #1bb9d4;
}

.buttonCollapse {
  text-align: center;
}

.buttonCollapse a {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.buttonCollapse a:hover {
  opacity: 0, 6;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translate(10px, 5px);
          transform: translate(10px, 5px);
}

.userIcon {
  text-align: center;
}

.about-me-text {
  text-align: center;
  padding-top: 10px;
}

#aboutMeInfo {
  padding-top: 120px;
}

#aboutMeSecondInfo {
  padding-top: 100px;
}

#footer {
  text-align: center;
  position: fixed;
  margin: auto;
}

#educationFoto {
  background-image: url("../images/education1.jpg");
  background-size: cover;
  background-position: top center;
  min-height: 300px;
}

#panorama {
  padding: 0;
}

#workExperienceFoto {
  background-image: url("../images/education2.jpg");
  background-size: cover;
  background-position: top center;
  min-height: 400px;
}

#skillsFoto {
  background-image: url("../images/skills2.jpg");
  background-size: cover;
  background-position: top center;
  min-height: 300px;
}

#interestsFoto {
  background-image: url("../images/interests2.jpg");
  background-size: cover;
  background-position: bottom center;
  min-height: 300px;
}
/*# sourceMappingURL=style.css.map */